

    <div class="container">
    	<div class="row text-center justify-content-center">
    		<div class="col-12 col-xl-10">
                <div data-section="questions">
        			<div class="row">
        				<div class="col-12">
        					<em>{{__('<strong>Questions</strong> ou demandes spécials?', 'adom')}}</em>
        					<p class="text">{{__("Contactez nous pour plus d'informations", 'adom')}}</p>
        				</div>
        			</div>

        			<div class="row d-flex align-items-center justify-content-center mt-px30">
        				<div class="col-auto text-left listofcontacts">
        					<p>Chat: <a href="https://static.zdassets.com/web_widget/latest/liveChat.html?v=2#key=adomhelp.zendesk.com" target="_blank">{{__("Cliquez ici", 'adom')}}</a></p>
        					<p>{{__("Téléphone", 'adom')}}: <a href="tel:844-316-2366">844-316-2366 opt. 3</a></p>
        					<p>{{__("Message texte", 'adom')}}: <a href="tel:855-960-3166">855-960-3166</a></p>
        					<p>Email: <a href="mailto:support@adom-smarthome.com">support@adom-smarthome.com</a></p>
        				</div>
        			</div>
    			</div>
    		</div>
    	</div>
    </div>
