


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-12 text-md-center">
                <div data-module="cta-contacts">
                    <div class="row justify-content-center">
                        <p class="col-12 col-md-8 col-xl-5">{{__("Design, Installation, Programmation et Personnalisation.", 'adom')}}</p>
                    </div>
                    <div class="mt-px20 row justify-content-center">
                        <p class="shorter col-md-8 col-lg-10 col-xl-4">{{ __("Adom s’engage dans toutes les étapes d’intégration des technologies dans votre résidence afin de surpasser vos attentes.", "adom") }}</p>
                    </div>
                    <div class="mt-px30">
                        <a href="{{ fn('get_permalink', 376) }}" class="button-with-arrow"><span>{{ __("Découvrez nos Réalisations", "adom") }}</span> <svg viewBox="0 0 33 33" class="icon-arrow-circle"><use xlink:href="{{ site.theme.link }}/dist/assets/icons/icons.svg#arrow-circle" /></svg></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
