


    <div class="container mt-px40">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-12 text-md-center">
                <div data-module="newsletter">
                    <svg viewBox="0 0 326 376" class="icon-a"><use xlink:href="{{ site.theme.link }}/dist/assets/icons/icons.svg#a" /></svg>
                    <div class="row">
                        <em class="col-10 col-md-12">{{ __("Inscrivez-vous à notre infolettre", "adom") }}!</em>
                    </div>
                    <div class="mt-px20 row justify-content-center">
                        <p class="col-md-8 col-lg-10 col-xl-6">{{ __("Restez au courant des dernières tendances et des nouveautés à notre offre de produits et service dans le domaine de la domotique.", "adom") }}</p>
                    </div>
                    <div class="mt-px30">
                        <a href="{{ newsletterID }}" target="_blank" class="button-with-arrow"><span>{{ __("Inscrivez-vous", "adom") }}</span> <svg viewBox="0 0 33 33" class="icon-arrow-circle"><use xlink:href="{{ site.theme.link }}/dist/assets/icons/icons.svg#arrow-circle" /></svg></a>
                    </div>
                    <div class="mt-px20">
                        <svg viewBox="0 0 326 376" class="icon-sign"><use xlink:href="{{ site.theme.link }}/dist/assets/icons/icons.svg#a" /></svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
