{% extends "layouts/base.twig" %}

{% block content %}

	<div class="container intro js-typed-text">
		<div class="row">
			<div class="col-md-5 col-xl-4 col-xxl-3 order-2 order-md-1 d-none d-md-inline-block">
				<p class="intro--text">{{post.meta('intro').label}}</p>
			</div>

			<div class="col-md-7 col-xl-6 col-xxl-7 offset-xl-1 offset-xxl-2 pd-left order-1 order-md-2">
				<div class="row row--inner">
					<div class="col-xl-7 col-xxl-7">
						<h1 class="intro--title">{{post.title}}</h1>
					</div>
				</div>

				<em class="intro--subtitle letters">{{post.meta('intro').title}}</em>

				<div class="row row--inner mt-px40 slideUp">
					<div class="col-12 col-xl-7 col-xxl-6">
						<p class="opacity-7 fadeIn">{{post.meta('intro').content.column_one}}</p>
					</div>
					<div class="col-12 col-xl-7 col-xxl-6">
						<p class="opacity-7 fadeIn">{{post.meta('intro').content.column_two}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container slideUp s-strategy reveal-header s--intro">
		<div class="row ltr">
			<div class="col-md-5 col-xl-5 d-none d-md-inline-flex">
				<p class="size14 opacity-7">CALX Consulting</p>
			</div>
		</div>
		<div class="row">
			<div class="col-12 relative oh">
				<div class="panel"></div>
				<picture>
					<source media="(min-width: 1200px)" type="image/webp" srcset="{{ Image(post.meta('intro').image).src|resize(1800, 1200)|towebp}} 1x, {{ Image(post.meta('intro').image).src|resize(1850, 1200)|towebp}} 2x">
					<source media="(min-width: 1200px)" srcset="{{ Image(post.meta('intro').image).src | resize(1800, 1000)}} 1x, {{ Image(post.meta('intro').image).src | resize(1850, 1000)}} 2x">
					<source media="(min-width: 600px)" srcset="{{ Image(post.meta('intro').image).src | resize(800, 800)}}">
					<img src="{{ Image(post.meta('intro').image).src | resize(600, 400) }}" alt="CALX Intro Image" class="intro--picture darkEl" />
				</picture>
			</div>
		</div>
	</div>

	<div class="container mt-px30 d-none d-md-block s--labels">
		<div class="row">
			<div class="col-md-4 col-xl-3 col-1">
				<p class="size14 opacity-7 demi">{{__('Rich heritage and history', 'calx')}}</p>
			</div>
			<div class="col-md-4 offset-xl-2 col-xl-4 col-xxl-4 pd-left col-2">
				<p class="size14 opacity-7 demi">{{__('Kingdom futures', 'calx')}}</p>
			</div>
			<div class="col-md-4 col-xl-3 text-xxl-right col-3">
				<p class="size14 opacity-7 demi">{{__('Fusion of Saudi excellence', 'calx')}}</p>
			</div>
		</div>
	</div>



	{% set blockquote = post.meta('blockquote') %}
	<div class="container-fluid oh s-industries--quote">
		<div class="row d-flex flex-nowrap justify-content-center">
			<div class="col-auto text-center relative">
				<blockquote class="js-parallax" data-parallax='{"x": 250, "smoothness": 20}'>
					{{blockquote.first_line}}
				</blockquote>
				<blockquote class="js-parallax-reverse" data-parallax='{"x": -150, "smoothness": 10}'>
					{{blockquote.second_line}}
				</blockquote>
			</div>
		</div>
	</div>

	{% for industry in post.meta('industries') %}
	<div class="container showIMG--triger s--single-industry">
		<div class="row justify-content-end">
			<div class="col-12 col-md-8 col-xl-7 pd-left relative">
				<div class="cortains">
					<div class="cortains--left"></div>
					<div class="cortains--right"></div>
				</div>
				<picture>
				    <source media="(min-width: 1200px)" type="image/webp" srcset="{{ Image(industry.image).src|resize(1800, 1200)|towebp}} 1x, {{ Image(industry.image).src|resize(1800, 1200)|towebp}} 2x">
				    <source media="(min-width: 1200px)" srcset="{{ Image(industry.image).src | resize(800, 660)}} 1x, {{ Image(industry.image).src | resize(1800, 1200)}} 2x">
				    <source media="(min-width: 600px)" srcset="{{ Image(industry.image).src | resize(800, 660)}}">
				    <img src="{{ Image(industry.image).src | resize(600, 400) }}" alt="CALX Intro Image" class="darkEl" />
				</picture>
			</div>
		</div>
		<div class="row fade-trigger">
			<div class="col-md-4 col-xl-5">
				<em class="fadeIn title">{{industry.label}}</em>
			</div>
			<div class="col-12 col-md-8 col-xl-7 pd-left">
				<em class="fadeIn">{{industry.title}}</em>
				<p class="fadeIn opacity-7 small">
					{{industry.text}}
				</p>
			</div>
		</div>
	</div>
	{% endfor  %}



	<div class="s--largetext s-industries--next-page fade-trigger">
		<div class="container">
			<div class="row justify-content-end">
				<div class="col-12 col-md-8 col-xl-7 pd-left">
					<div class="s--enquire">
						<div class="s--small-text">
							<span class="opacity-7 fadeIn medium">{{__('Interested?', 'calx')}}</span>
						</div>
						<span class="enquire fadeIn block mt-px10 block">
							<a href="{{ fn('get_permalink', 194) }}" class="link--underline cta demi">{{__('Make an Enquiry', 'calx')}}</a>
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
