{% extends "layouts/base.twig" %}

{% block content %}

	<div class="container intro js-typed-text">
		<div class="row">
			<div class="col-md-5 col-xl-4 col-xxl-3 order-2 order-md-1">
				<p class="intro--text d-none d-md-inline-block">{{post.meta('intro').label}}</p>

				<div class="mt-px60">
					<em class="fadeIn label"><strong class="demi">{{ __('Follow us', 'calx') }}</strong></em>
					<p><a href="{{linkedin}}" target="_blank" class="link--underline cta">Linkedin</a></p>
				</div>
			</div>

			<div class="col-md-7 col-xl-6 col-xxl-7 offset-xl-1 offset-xxl-2 pd-left order-1 order-md-2">
				<div class="row row--inner">
					<div class="col-xl-12">
						<h1 class="intro--title">{{post.title}}</h1>
					</div>
				</div>

				<em class="intro--subtitle letters">{{post.meta('intro').title}}</em>
			</div>
		</div>
	</div>



	<div class="container s-contact--locations js-typed-text">
		<div class="row">
			<div class="col-md-4 col-xl-5 moveitUp">
				<em class="fadeIn">{{post.meta('riyadh').slug}}<br>{{post.meta('casablanca').slug}}</em>
			</div>

			<div class="col-12 col-md-8 col-xl-7 pd-left relative">
				<svg viewBox="0 0 101 101" class="clock moveitUp"><use xlink:href="{{ site.theme.link }}/dist/assets/icons/icons.svg#clock" /></svg>
				<em class="location block rtl"><span class="ltr inline">{{post.meta('riyadh').title}}</span></em>
				<p class="label">{{__('TEL', 'calx')}} <a href="mailto:{{post.meta('riyadh').phone}}" class="ltr cta link--underline">{{post.meta('riyadh').phone}}</a></p>

				<div class="row mt-px40">
					<div class="col-md-auto order-1 order-md-0">
						<a href="https://goo.gl/maps/CUS6Ju2cH6zfg9Cx5" target="_blank" class="cta darkEl btn--maps moveitUp">
							<span>{{ __('Open in Google Maps', 'calx') }}</span>
							<svg viewBox="0 0 20.918 27.462" class="pin"><use xlink:href="{{ site.theme.link }}/dist/assets/icons/icons.svg#pin" /></svg>
						</a>
					</div>
					<div class="col-md-auto order-0 order-md-1">
						<address class="opacity-7 letters">
							{{post.meta('riyadh').address}}
						</address>
					</div>
				</div>

				<div class="row mt-px40">
					<div class="col-12 moveitUp">
						<iframe src="{{post.meta('riyadh').iframe}}" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container s-contact--locations js-typed-text">
		<div class="row justify-content-end">
			<div class="col-12 col-md-8 col-xl-7 pd-left relative">
				<svg viewBox="0 0 101 101" class="clock moveitUp"><use xlink:href="{{ site.theme.link }}/dist/assets/icons/icons.svg#clock" /></svg>
				<em class="location block rtl"><span class="ltr inline">{{post.meta('casablanca').title}}</span></em>
				<p class="label">{{__('TEL', 'calx')}} <a href="mailto:{{post.meta('casablanca').phone}}" class="ltr cta link--underline">{{post.meta('casablanca').phone}}</a></p>

				<div class="row mt-px40">
					<div class="col-md-auto order-1 order-md-0">
						<a href="https://goo.gl/maps/NBFKzQypHKGMnX5v6" target="_blank" class="cta darkEl btn--maps moveitUp">
							<span>{{ __('Open in Google Maps', 'calx') }}</span>
							<svg viewBox="0 0 20.918 27.462" class="pin"><use xlink:href="{{ site.theme.link }}/dist/assets/icons/icons.svg#pin" /></svg>
						</a>
					</div>
					<div class="col-md-auto letters order-0 order-md-1">
						<address class="opacity-7 letters">
							{{post.meta('casablanca').address}}
						</address>
					</div>
				</div>

				<div class="row mt-px40">
					<div class="col-12 moveitUp">
						<iframe src="{{post.meta('casablanca').iframe}}" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
